*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

body {
    font-family: 'Courier New', Courier, monospace;
}



.home-title {
	color: white;
	font-size: 1.4rem;
	position: relative;
	top: calc(250px/2);
	left: 1.5rem;
}

.cursor-dot {
    width: 7px;
    height: 7px;
    background-color: red;
}

.cursor-outline {
    width: 32px;
    height: 32px;
    background-color: burlywood;
}

.cursor-dot,
.cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 10;
    pointer-events: none;
}

.invisible {
    display: none;
}

.changeSize {
    transform: scale(2);
    background-color: red;
}

.main {
    background-color: blue;
    height: 100vh;
    position: relative;
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    background: none;
    z-index: 10;
    width: 30%;

}

nav > div {
    font-size: 1.4rem;
}

nav > div a {
    text-decoration: none;
    color:brown;
    padding: .4rem;
}

.projects {
    position: absolute;
    background-color: white;
    width: 200px;
    height: 250px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
    top: 300px;
    left: 280px;
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
	border: 2px black solid;
	z-index: 6;
}

.projects * {
    transition-delay: 0s; 
    display: none;
    pointer-events: none; 
}

.projects.clicked2 {
    top: 0;
    left: 0;
    width: 100%; 
    height: 130%;
	/* display: flex; */
	border-radius: 0;
	padding-top: 2rem;
	justify-content: center;
	align-items: center;
	border: none;
}

.projects.clicked2 * {
    transition-delay: 0.5s; 
    display: block;
    pointer-events: auto; 
}


.projects .pr1 {
	display: flex;
	flex-direction: column;
	margin-top: 2rem;
}

.projects-title {
	color: black;
	font-size: 1.4rem;
	position: relative;
	top: calc(250px/2);
	left: 1.5rem;
}

.projects .pr1 h1 {
	font-size: 2rem;
	padding-left: 1rem;
	font-weight: 900;
} 

.projects .pr1 div {
	display: flex;
}

.projects .pr1 img {
	height: 400px;
	width: 600px;
} 


.content {
	color: black;
	font-size: 1.4rem;
	position: relative;
	top: 0.9rem;
	width: 500px;
}

.links {
	width: 200px;
	display: flex;	
	flex-direction: column;
	justify-content: center;
}

.links button {
	margin: 0.4rem;
	height: 2rem;

}


hr {
	border: 1px solid black;
	width: 90%;
	position: relative;
	left: 2rem;
}

.projects .pr1 img {
	border-radius: 30px;	
	padding: 1rem;
} 

#home {
    position: absolute;
    background-color: black;
    width: 200px;
    height: 250px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
    z-index: 5;
    top: 100px;
    left: 100px;
    transition: width 0.5s, height 0.5s, top 0.5s, left 0.5s;
	border: 2px white solid;
}


#home.clicked {
    top: 0;
    left: 0;
    width: 100%; 
    height: 130%;
	display: flex;
	border-radius: 0;
	padding-top: 2rem;
	justify-content: center;
	align-items: center;
	border: none;
}

#home * {
    transition-delay: 0s; 
    display: none;
    pointer-events: none; 
}


#home.clicked * {
    transition-delay: 0.5s; 
    display: block;
    pointer-events: auto; 
}

#home img {
	border-radius: 20px;
	filter: grayscale(100);
	margin: 2rem;
}

#home img:hover {
	transition: 4s;
	filter: grayscale(0);
}

.intro {
	font-size: 3rem;
	color: aliceblue;
}

.text {
	color: burlywood;
	font-size: 1.4rem;
}

.retro {
	display: flex;
	flex-direction: column;
	position: relative;
	height: 500px;
	width: 40rem;
	top: 1rem;	
}

.retro h3 {
	color: aliceblue;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	font-size: 1.9rem;
}	

.About > p {
	font-size: 1.2rem;
	color: burlywood;
}

.exitButton {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-Color: #463F3A;
	position: fixed;
	border: none;
	top: 10px;
	left: 50%;	
	z-index: 100;
	color: white;
	font-weight: 700;
	font-size: 1.1rem;
}

.projectExitBtn {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-Color: #463F3A;
	position: fixed;
	border: none;
	top: 10px;
	left: 50%;	
	z-index: 100;
	color: white;
	font-weight: 700;
	font-size: 1.1rem;
}

.exitButton :hover {
	border: 1px solid white;
} 
